body{
    width: 400px;
}

h3{
    text-align: center;
    color: grey;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    white-space: nowrap;
}

a{
    color: grey;
    text-decoration: none;
}

.site{
    margin-bottom: 20px;
}
.one_login{
    margin-left: 20px;
}

.container_data{
    margin-bottom: 10px;
}